h1  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px;
    text-transform: uppercase;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 10px;
    padding: 20px;

    border: 1px solid lightgray;
    border-radius: 5px;
}

li {
    margin: 0;
    width: 100%;
    display: flex;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

img {
    width: 30px;
}