#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    margin: 0;
    background: rgb(61, 106, 255);
    height: 10%;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

#logo {
    width: 50px;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

ul {
    list-style-type: none;
}