{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_course.css') }}">
{% endblock %}


{% block content %}
<h1>
    <h1>Sélectionner la course</h1>
</h1>


<main>
    {% if plot_html %}
    <div id="plot-container">{{ plot_html|safe }}</div>
    {% else %}
    <p>Erreur : Impossible de charger le graphique.</p>
    {% endif %}

    <ul>
        {% for route in routes %}
        <!-- route.start et route.end sont des attributs de l'objet Route -->
        <li class="route">
            <button class="effect"><span>{{route.end}}</span>
            </button>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
