<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewer_style.css') }}">
</head>
<body>
    <h1>Séléctionner le point d'arrivé</h1>
    <h2>{{ map_name }}</h2>
    
    <div class="controls">
        <span> Faire un truc pour séléctionner le point d'arrivé </span>
    </div>

    <form>
        <input name="start_point" value="{{ start_point }}">
        <input name="end_point" value="{{ end_point }}">
        <button type="submit">Créer la course</button>
    </form>

    {% if plot_html %}
        <div id="plotContainer">{{ plot_html|safe }}</div>
    {% else %}
        <p>Erreur : Impossible de charger le graphique.</p>
    {% endif %}

</body>
</html>