<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stoc'Kart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button_effect.css') }}">
</head>
<body>
    <div id="title">
        <h1>Stoc'Kart</h1>
        <hr/>
        <div id="action-buttons">
            <button class="effect" onclick="location.href = '/new_map'">Nouvelle map</button>
            <button class="effect">Liste des maps</button>
            <button class="effect-reverse" id="wide">Nouvelle course</button>
        </div>
    </div>

    <main>
        <a href="{{ url_for('main.new_map') }}"><span>Créer une nouvelle map</span></a>
        <div id="map-list">
            <h2>Liste des maps enregistrées</h2>
            <ul>
                {% for map_name in maps %}
                <li class="effect">
                    <a href="{{ url_for('main.viewer', map_name=map_name) }}">{{ map_name }}</a>
                    <img src="../static/map_previews/{{ map_name.replace('npz', 'png') }}" alt="{{ map_name.replace('npz', 'svg') }}"
                         class="map-image">
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>

</body>
</html>