<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stoc'Kart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Stoc'Kart</h1>
    <a href="{{ url_for('main.new_map') }}"><span>Créer une nouvelle map</span></a>
    <h2>Liste des maps enregistrées</h2>
    <ul>
        {% for map_name in maps %}
            <li><a href="{{ url_for('main.viewer', map_name=map_name) }}">{{ map_name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>