{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_map_style.css') }}">
{% endblock %}

{% block content %}
    <form id="process-form" method="POST" enctype="multipart/form-data" action="{{ url_for('main.upload_and_process_svg') }}">
        <input type="file" name="svg_file" id="file-input" accept=".svg" />
        <label for="file-input" class="file-input-label effect">Choose SVG File</label>
        <div id="file-info" class="file-info">No file selected</div>
        <button type="submit" class="effect">Process</button>
    </form>

    <script>
        // DIDNT KNOW WHERE TO PUT THIS IN THE PROJECT, TEMPORARY SOLUTION
        document.addEventListener('DOMContentLoaded', function() {
            const fileInput = document.getElementById('file-input');
            const fileInfo = document.getElementById('file-info');

            fileInput.addEventListener('change', function() {
                if (fileInput.files.length > 0) {
                    fileInfo.textContent = fileInput.files[0].name;
                    fileInfo.classList.add('file-selected');

                    // Optional: Update the label text
                    document.querySelector('.file-input-label').textContent = 'Change File';
                } else {
                    fileInfo.textContent = 'No file selected';
                    fileInfo.classList.remove('file-selected');
                    document.querySelector('.file-input-label').textContent = 'Choose SVG File';
                }
            });
        });
    </script>
{% endblock %}