{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map_list.css') }}">
{% endblock %}


{% block content %}
    <div id="container">
        <h2>Sélectionnez la map</h2>
        <ul>
            {% for map_name in maps %}
            <a href="{{ url_for('main.create_course', map_name=map_name) }}">
                <li class="effect">
                    <p>{{ map_name.replace('_', ' ') }}</p>
                    <img src="../static/map_previews/{{ map_name }}.png" alt="{{ map_name.replace('npz', 'svg') }}"
                         class="map-image">
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
