<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map_viewer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewer_style.css') }}">
</head>
<body>
<h1>{{map_name.replace('_', ' ').upper()}}</h1>

<main>
    <div class="map-container">
        {% if plot_html %}
        <div id="plotContainer">{{ plot_html|safe }}</div>
        {% else %}
        <p>Erreur : Impossible de charger le graphique.</p>
        {% endif %}

        <div class="controls">
            <button id="add-start-btn"><img src="../static/assets/start-point.svg" alt="Point de départ"/>Ajouter un
                point de départ
            </button>
            <button id="add-point-btn"><img src="../static/assets/end-point.svg" alt="Point d'arrivée"/>Ajouter un point
                d'arrivée
            </button>
            <span id="click-instruction">Cliquez sur la carte pour placer le point</span>
        </div>
    </div>

    <form action="{{ url_for('main.delete_map', map_name=map_name) }}" method="post"
          onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette map ? Cette action est irréversible.')">
        <button type="submit" class="effect-red">Supprimer la map</button>
    </form>
</main>

<script>
    // Définir le nom de la map pour le script JavaScript
    const mapName = "{{ map_name }}";
</script>
<script src="{{ url_for('static', filename='script/viewer_script.js') }}"></script>
</body>
</html>